// app/assets/stylesheets/utilities/_spacing.scss

.mt-lg {
  margin-top: 4rem;
}

.mt-md {
  margin-top: 2rem;
}

.mt-sm {
  margin-top: 1rem;
}

.mt-tn {
  margin-top: 0.5rem; //tiny
}

.py-lg {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
