<div
  data-controller="swipe"
  data-swipe-left-url-value="<%= new_journal_path %>"
  style="min-height:100vh; display:flex; align-items:center; justify-content:center; text-align:center;"
>
  <div>
    <h1>Welcome </h1>
    <p>Right-swipe to start a new journal.</p>
  </div>
</div>
