<div
  data-controller="swipe"
  data-swipe-left-url-value="<%= new_journal_path %>"
  style="min-height:100vh;"
>
  <!-- Your existing home content -->
  <h1>Welcome to Tudy Journal App </h1>
  <p>Right-swipe to start a new journal</p>
  <p>
</p>
</div>
