<div
  data-controller="swipe"
  data-swipe-left-url-value="<%= new_journal_path %>"
  style="min-height:100vh;"
>
<% content_for :body_class, "crumbled-paper" %>
<div class="journal-new-page">
  <h1>Tudy...</h1>
  <p>... helps you TODO things smarter!</p>

  <% if params[:journal_id] %>
    <%= link_to ">", journal_path(params[:journal_id]), class: "button-swipe right" %>
  <% else %>
    <%= link_to ">", new_journal_path, class: "button-swipe right" %>
  <% end %>
</div>
