<!--app/view/todos/index.html.erb-->
<h1>TODOs List</h1>
<ul class="list-unstyled">
  <% @todos.each do |todo|%>
    <li>
      <span class="mark-done-placeholder">✓</span>
      <%= todo.title %>
      <%= link_to "❌", todo_path(todo),
                  data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>

<% if params[:journal_id].present? %>
  <%= link_to "<", todo_brief_journal_path(params[:journal_id]) %>
<% else %>
  <%= link_to "< Back", root_path %>
<% end %>
