<% content_for :body_class, "crumbled-paper" %>

<div class="journal-new-page">
  <h1>a penny for your thought...</h1>
  <div class="journal-form-wrapper">
    <%= simple_form_for @journal, html: { class: "journal-form" } do |f| %>
      <%= f.input :content, as: :text, label: false, placeholder: "What's on your mind?", input_html: { class: "journal-input" } %>
      <%= f.button :submit, ">", class: "button-swipe right" %>
    <% end %>
  </div>
  <%= link_to "<", root_path, class: "button-swipe left" %>
</div>
