// app/assets/stylesheets/backgrounds/_backgrounds.scss
//background --> 'container mt-3' in applications.html.erb for now adjusted

// app/assets/stylesheets/components/_backgrounds.scss

// Main background styles for the body
body {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: $eggshell;
}

.crumbled-paper {
  // Use a pseudo-element for the repeating texture
  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    // Use a high-resolution, seamlessly repeating image here
    background-image: url("white-crumpled-paper-texture-background.jpg");
    background-repeat: repeat;

    // Optional filter to change the look
    filter: sepia(10%);
  }
}

// Class for a lined paper effect using CSS gradients
.lined-paper {
  // main background for page
  background-color: $eggshell;
  background-image: linear-gradient(
    to bottom,
    transparent 85%,
    rgba(173, 216, 230, 0.8) 95%
  );
  background-size: 100% 34px;
  min-height: 100vh;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 3.5rem;
    width: 3px;
    height: 100%;
    background-color: rgba($red, 0.3);
    filter: blur(0.5px);
    z-index: 100;
  }


  // Navbar for just that page
  .navbar {
    background-color: $eggshell;
    position: relative; // für das Pseudo-Element

    // pseudo-element für die rote Linie
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 8px;
      background-image: linear-gradient(
        to bottom,
        transparent 75%,
        rgba($red, 0.8) 95%
      );
      filter: blur(1px);
    }
  }
}

.aquarell-paper {
  background-image:
    radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.5) 0%, transparent 50%),
    url("aquarell-paper-texture.jpg");
  background-size: 100% 100%, cover;

  filter: sepia(10%);
}
