//app/assets/stylesheets/pages/_journals.scss

// main header

.journal-new-page h1 {
  font-family: $journal-ai-handwritten-h1;
  color: $ballpoint-pen-blue;
  font-size: 2rem;
  padding: 2rem 0 4rem 0; // top, right, bottom, left
  // padding: 2rem 4rem 4rem 2rem; // top, right, bottom, left
  text-align: center;
}

// form layout

.journal-form {
  align-items: center;
  display: grid;
  grid-template-columns: 9fr 1fr;
}

.journal-form .input {
  flex: 1;
  padding: 0;
}

.journal-input {
  flex: 9;
}

// input field

.journal-new-page .journal-input {
  background-color: transparent;
  font-family: $journal-user-body;
  font-size: 1.5rem;
  color: $ballpoint-pen-blue;
  text-align: start;
  display: flex;
  align-items: flex-start;
  min-height: 50vh;
  border: none;
  outline: none;
  padding: 0; // top, right, bottom, left
  line-height: normal;
  resize: vertical;
  overflow: auto;
  line-height: 1.5;

  &:focus {
    background-color: transparent !important;
    outline: none;
    box-shadow: none;
  }

  &::placeholder {
    color: $ballpoint-pen-blue;
    opacity: 1;
  }
}


// Styling for Journal Index Page
.journal-title-date {
  display: flex;
  align-items: baseline; /* keeps text aligned nicely */
  gap: 0.5rem; /* space between title and date */
}

.journal-title-date h4 {
  text-align: left;
}

.journal-title-date .journal-date {
  font-size: 0.8rem;
  color: #555;
}

.hidden { display: none; }
