.custom-container {
  .main-home-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    padding: 1rem;
  }
}

.post-it-stack {
  width: 80%;
  max-width: 800px;
  gap: 1.5rem;
  margin: auto;

  .post-it {
    max-width: 700px;
    width: 90%;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff9b1;
    padding: 0rem 1.5rem;
    margin-top: 0rem;
    box-shadow: 2px 4px 10px rgba(0,0,0,0.2);
    border-radius: 4px;
    margin-bottom: 1rem;

    width: 100%;
    max-width: 800px;
    aspect-ratio: 1 / 1;

    justify-content: center;

    @keyframes fadeInPostIt {
      to {
        opacity: 1;
        transform: scale(1) rotate(var(--post-it-rotation, 0deg));
      }
    }
    // 1. Post-it: Rosa
  }
}

// 1. Post-it: Yellow
.post-it.yellow {
  --post-it-rotation: -15deg;
  background-color: #fff9b1;
}

// 2. Post-it: Rosa
.post-it.pink {
  --post-it-rotation: 10deg;
  background-color: #ffb1c2;
}

// 3. Post-it: Blue
.post-it:nth-child(3) {
  display: none;
  --post-it-rotation: -15deg;
  background-color: #b1d4ff;
}

@media (min-width: 768px) {
  .post-it:nth-child(3) {
    display: flex;
  }
}

.post-it-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin-top: 2rem;
}
