// app/assets/stylesheets/components/_todos.scss

.align-with-first-line {
  // Use a negative margin to pull the elements up, aligning them visually
  margin-top: calc((1.5rem - 0.8rem) / 2);
}

.todo-item .custom-checkbox-input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid $ballpoint-pen-blue;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  outline: none;

  &:checked {
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 10px;
      height: 10px;
      background-color: $ballpoint-pen-blue;
      border-radius: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &:hover {
    box-shadow: 0 0 0 3px rgba($ballpoint-pen-blue, 0.2);
  }
}

.todos-container {
  max-width: 800px;
  margin: 0 auto;
}

.todo-list {
  list-style-type: none;
  padding: 0;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
}

.todo-item-actions {
  display: flex;
  gap: 10px;
  flex-shrink: 0;
  margin-left: auto;
  @extend .align-with-first-line;
}

.todo-item {
  .todo-title {
    text-align: left;
    flex-grow: 1;
    min-width: 0;
    overflow-wrap: break-word;
  }
}

.ai-output {
  text-decoration: none;
}

.todo-title.truncated {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.category-wrapper {
  text-align: left;

}
.category-heading.left-align {
  display: inline-block;
  width: auto;
  line-height: 1;

  margin: 0;


 span {
    background-color: rgba(255,165,0,0.4);
    padding: 0 0.2em;
    line-height: 0.8;
 }
}

body {
  overflow-x: hidden;
}

