
// app/assets/stylesheets/components/_typography.scss

//AI-generated handwriting font to all headers
h1, h2, h3, h4, h5, h6 {
  font-family: $journal-ai-typewriter-body;
  color: $fountain-pen-black;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.25rem;
  text-align: center;
}

h3 {
  font-size: 1rem;
  text-align: center;
}

h4 {
  font-size: 0.5rem;
  text-align: center;
}
// Special headlines
.special-headline {
  font-family: $journal-handwritten;
  color: $ballpoint-pen-blue;;
  font-size: 2.75rem;
}

.ai-headline {
  font-family: $journal-ai-typewriter-body;
  color: $ballpoint-pen-blue;
  font-size: 2.75rem;
}

// AI typewriter font for AI output, buttons, links...
.ai-output, .btn, a {
  font-family: $journal-ai-typewriter-body;
  font-size: 0.8rem;
  color: $fountain-pen-black;
}

// handwriting font to user-generated content
.user-content {
  font-family: $journal-user-body;
  font-size: 1.75rem;
  color: $ballpoint-pen-blue;
}
