// stylesheets/applications.scss
// Graphical variables
@import "config/colors";
@import "config/fonts";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Import your global utility classes
@import "utilities/spacing";

// layout
@import "layout/container";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/typography";
// @import "pages/journals";
// @import "pages/backgrounds";

// Keep vertical pan; let JS handle horizontal swipe
[data-controller="swipe"] {
  touch-action: pan-y;
}


@keyframes rotate-in {
  from {
    transform: rotate3d(0, -1, 0, 90deg);
    opacity: 0;
  }
}

@keyframes rotate-out {
  to {
    transform: rotate3d(0, 1, 0, 90deg);
    opacity: 0;
  }
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 2s;
}

::view-transition-old(root) {
  animation: 90ms cubic-bezier(0.4, 0, 1, 1) both rotate-out;
}

::view-transition-new(root) {
  animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both rotate-in;
}

.custom-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  width: 100%;
  padding: 0 10%;
  margin: 0 auto;
}

// // #############################################################################################################

// // this are just guidelines – WILL REMOVE AFTER STYLING!!

// body::after {
//   content: '';
//   position: absolute;
//   top: 4.5rem; /* Hier kannst du den gewünschten Abstand anpassen */
//   left: 0;
//   right: 0;
//   height: 2px;
//   background-color: transparent;
//   border-top: 2px dashed rgb(203, 26, 188);
//   z-index: 9999;
// }
